.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  scroll-snap-align: start;
}

@media only screen and (max-width: 768px) {
  #about-1 {
    background-image: url(../../assets/about-1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #about-1 img {
    width: 240px;
    position: absolute;
    left: -20px;
    top: 150px;
  }
  #about-1 h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    position: absolute;
    top: 280px;
  }
  #about-1 p {
    position: absolute;
    top: 475px;
    width: 90%;
    font-weight: 300;
    font-size: 24px;
  }
  .about-1 {
    position: relative;
    padding: 0;
  }
  .about-1 .bg {
    height: 100vh;
  }
  .about-1 .logo {
    width: 240px;
    position: absolute;
    left: -20px;
    top: 150px;
  }
  .about-1 h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    position: absolute;
    left: 20px;
    top: 280px;
  }
  .about-1 p {
    position: absolute;
    left: 20px;
    top: 475px;
    font-weight: 300;
    font-size: 24px;
  }
  .about-section h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }
  .about-section .skill {
    margin: 15px 0;
  }
  .about-section .skill h4 {
    font-weight: 300;
    font-size: 24px;
  }
  .about-section .skill p {
    font-weight: 300;
    font-size: 14px;
  }
  .fashion-section {
    position: relative;
    padding: 0;
  }
  .fashion-section img {
    height: 100vh;
  }
  .fashion-section h3 {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 209px;
    left: 142px;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }
}
@media only screen and (min-width: 768px) {
  .about-1 {
    height: 100vh;
    position: relative;
    padding: 0;
  }
  .about-1 .bg {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    right: 20%;
  }
  .about-1 .logo {
    width: 300px;
    position: absolute;
    left: 15%;
    top: 100px;
  }
  .about-1 h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    position: absolute;
    left: 20%;
    top: 280px;
  }
  .about-1 p {
    position: absolute;
    left: 20%;
    top: 475px;
    font-weight: 300;
    font-size: 24px;
    width: 50%;
  }
  .about-section h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }
  .about-section .skill {
    margin: 15px 0;
  }
  .about-section .skill h4 {
    font-weight: 300;
    font-size: 24px;
  }
  .about-section .skill p {
    font-weight: 300;
    font-size: 14px;
  }
  .fashion-section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .fashion-section img {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fashion-section h3 {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 15%;
    left: 45%;
    color: black;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

nav {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13px 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
nav a {
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
nav .selected {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 13px 20%;
  }
}/*# sourceMappingURL=style.css.map */