@import "variables";

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

section {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 20px;

    scroll-snap-align: start;
}

a {
    text-decoration: none;
}

// MOBILE
@media only screen and (max-width: $break-1) {

    .about-1 {
        position: relative;
        padding: 0;

        .bg {
            height: 100vh;
        }

        .logo {
            width: 240px;
            position: absolute;
            left: 15px;
            top: 150px;
        }
        
        h3 {
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
            
            position: absolute;
            left: 20px;
            top: 280px;
        }

        p {
            position: absolute;
            left: 20px;
            top: 475px;

            font-weight: 300;
            font-size: 24px;
        }
    }

    .about-section {
        h3 {
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
        }
        
        .skill {
            margin: 15px 0;
            h4, a {
                font-weight: 300;
                font-size: 24px;
                color: black;
                text-decoration: none;
            }
            p {
                font-weight: 300;
                font-size: 14px;
            }
        }
    }

    .fashion-section {
        position: relative;
        padding: 0;
        img {
            height: 100vh;
        }
        h3, a {
            transform: rotate(-90deg);
            position: absolute;
            bottom: 280px;
            left: 142px;
            width: 100%;
            color: white;
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
        }
    }

}

// DESKTOP
@media only screen and (min-width: $break-1) {

    .about-1 {
        height: 100vh;
        position: relative;
        padding: 3% 0 0 0;

        .bg {
            height: 82%;
            width: 27%;
            object-fit: cover;
            position: absolute;
            right: 20%;
        }

        .logo {
            width: 184px;
            position: absolute;
            left: 20%;
            top: 188px;
        }
        
        h3 {
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
            position: absolute;
            left: 20%;
            top: 280px;
        }

        p {
            position: absolute;
            left: 20%;
            top: 475px;
            font-weight: 300;
            font-size: 24px;
            width: 50%;
        }
    }

    .about-section {
        padding-left: 20%;
        width: 70%;
        h3 {
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 20px;
        }
        
        .skill {
            margin: 15px 0;
            h4{
                font-weight: 300;
                font-size: 24px;
                color: black;
                text-decoration: none;
            }
            a {
                font-weight: 300;
                font-size: 24px;
                color: black;
                text-decoration: none;
                &:hover {
                    font-weight: 700;
                }
            }
            p {
                font-weight: 300;
                font-size: 14px;
            }
        }
    }

    .fashion-section {
        padding: 3% 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: row;
        div {
            display: flex;
            align-items: flex-end;
        }
        img {
            height: 82%;
            width: 27%;
            object-fit: cover;
            position: absolute;
            left: 25%;
        }
        h3 {
            color: black;
            font-weight: 300;
            font-size: 36px;
            line-height: 43px;
            align-self: flex-end;
            padding-bottom: 7%;
            padding-left: 30px;
            text-decoration: none;
            position: absolute;
            left: 57%;
        }
    }
}